/* css unit */
/* absolute unit:lenght is fixed. px,cm,mm,pt,pc,in */
/* relative units:length is dependent on another length property. 1vh,vw,em,rem,% */
/* font size */

/*h1{
    font-size: 100px;
    font-size: 3rem;
}

.raise{
    color: #cb0606;
}
p{
    margin: 2cm;
}

span{
    font-size: 12pt;
}
div{
     width:12in ;
    border: 1px;
}*/

/*body{
    background-color: blue;
    font-size: 100px;
}
h2{
    font-size: 30%;
}
p{
    font-size: 1em;
}
div{
    font-size: 3rem;
}

section{
    width: 50vw;
    height: 20vh;
    }*/

    /*h1{
        font-size: smaller;
        color: blue;
    }
    p{
        font-size: 50px;
    }
    */
    body{
        font-size: 50px;
    }


    p.dotted{
             border-style: dotted;
    }
    p.dashed{
             border-style: dashed;
    }
    p.solid{
        border-style:solid
    }
    p.double{
        border-style: double;
    }


